@import 'vars.scss';

@font-face {
   font-family: 'Impact', sans-serif;
   src: url(../fonts/impact.woff2);
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;
   color: $colorBody;
}

a {
   color: inherit;
   text-decoration: none;
}

li {
   list-style: none;
}

.big-container {
   max-width: 1220px;
   padding: 0 10px;
   margin: 0 auto;
}

.container {
   max-width: 920px;
   padding: 0 10px;
   margin: 0 auto;
}

.header {
   padding-top: 25px;
   position: absolute;
   left: 0;
   right: 0;
   background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
   display: flex;
   justify-content: space-between;
}

.menu-list {
   display: flex;
   gap: 0 40px;
   padding-top: 25px;
}

.menu-left {
   padding-left: 25px;
}

.menu-right {
   padding-right: 80px;
}

.menu-link {
   color: $colorHeader;
   font-size: 16px;
}

.promo {
   text-align: center;
   background-image: url(../images/promo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   &__inner {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      padding-top: 100px;
   }

   &__title-h1 {
      font-family: 'Impact', sans-serif;
      font-size: 76px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.02em;
      margin-bottom: 10px;
      align-self: center;
      margin-left: 9px;
   }

   &__title-h2 {
      font-family: 'Impact', sans-serif;
      font-size: 48px;
      font-weight: 400;
      border-bottom: 1px solid #040404;
      margin-bottom: 10px;
      align-self: center;
   }

   &__title-span {
      font-family: 'Impact', sans-serif;
      font-size: 34px;
      font-weight: 400;
      color: #9f6b08;
      display: block;
      padding: 10px 0;
   }

   &__text {
      font-size: 16px;
      color: $colorHeader;
      margin-bottom: 10px;
   }

   &__arrow {
      margin-top: auto;
      margin-bottom: 30px;
      align-self: center;

   }
}

.info {
   margin-bottom: 100px;

   &__part {
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
   }

   &__part-first {
      display: block;
   }

   &__part-second &__text {
      max-width: 352px;
   }

   &__part-third {
      padding-top: 66px;
   }

   &__part-third &__text {
      max-width: 377px;
   }

   &__title {
      text-transform: uppercase;
      margin-bottom: 30px;
      font-size: 32px;
      font-weight: 300;
   }

   &__content {
      flex-basis: 415px;
   }

   &__part-textbox {
      display: flex;
      justify-content: space-between;
      gap: 0 20px;
   }

   &__text {
      flex-basis: 440px;
      margin-bottom: 30px;
   }

   &__part-img {
      object-fit: cover;
   }

   &__table {
      flex-basis: 450px;
      border-bottom: 1px solid #040404;
      position: relative;
      top: 20px;

      &::before {
         content: '';
         border-top: 1px solid #040404;
         position: absolute;
         width: 100%;
         top: -20px;
      }
   }

   &__table td {
      padding-bottom: 20px;
   }

}

.track {
   background-image: url(../images/track-bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   &__inner {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
   }

   &__title {
      padding-top: 50px;
      padding-bottom: 30px;
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
   }

   &__text {
      max-width: 435px;
   }

   &__img {
      margin: auto auto 90px auto;
   }
}

.evo {
   margin-bottom: 100px;

   &__descr-list {
      display: flex;
      justify-content: space-between;
      gap: 0 65px;
      position: relative;
      z-index: 1;
   }
}

.evo-black {
   background-color: #363636;
   padding: 100px 0 50px;
   color: #fff;

   &__inner {
      position: relative;

      &::before {
         content: '';
         background-image: url(../images/dec-1.svg);
         width: 185px;
         height: 213px;
         position: absolute;
         top: 198px;
         left: -134px;
      }

      &::after {
         content: '';
         background-image: url(../images/dec-2.svg);
         width: 498px;
         height: 572px;
         position: absolute;
         top: 290px;
         left: -47px;
      }
   }

   &__info {
      display: flex;
      justify-content: space-between;
   }

   &__title {
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      padding-right: 50px;
   }

   &__infobox {
      flex-basis: 437px;

   }

   &__text {
      font-size: 14px;
      margin-bottom: 30px;
   }

   &__img {
      display: block;
      margin: 170px auto 60px;
      position: relative;
      z-index: 1;
   }
}

.evo-white {
   &__inner {
      padding-top: 125px;
      position: relative;

      &::before {
         content: '';
         background-image: url(../images/dec-3.png);
         width: 274px;
         height: 257px;
         position: absolute;
         top: -17px;
         left: 337px;
      }

      &::after {
         content: '';
         background-image: url(../images/dec-4.png);
         width: 324px;
         height: 311px;
         position: absolute;
         top: 131px;
         left: 572px;
      }
   }

   &__text {
      margin-bottom: 30px;

      &:first-child {
         max-width: 285px;
      }

      &:nth-child(2) {
         max-width: 437px;
      }

      &:nth-child(3) {
         max-width: 590px;
      }
   }

   &__video {
      margin-top: 100px;
      background-image: url(../images/evo-video.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 264px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      span {
         color: #fff;
         display: block;
      }
   }
}

.blog {
   margin-bottom: 100px;

   &__title {
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      margin-bottom: 30px;
   }

   &__item-img {
      margin-bottom: 20px;
   }

   &__item-titile {
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 10px;
      min-height: 46px;
   }

   &__item-text {
      margin-bottom: 10px;
   }

   &__item-link {
      font-size: 12px;
      color: #363636;
   }

   &__slider {
      position: relative;
      padding-top: 50px;
      margin-bottom: 100px;
   }

   &__button {
      position: absolute;
      top: 0;
      cursor: pointer;
      left: 50%;
   }

   &__quote {
      display: flex;
      justify-content: space-between;
      gap: 0 20px;
   }

   &__quote-box {
      flex-basis: 434px;
   }

   &__blockquote {
      margin-bottom: 30px;
   }

   &__blockquote-name {
      font-weight: 700;
      margin-bottom: 10px;

      span {
         display: block;
         font-size: 12px;
         color: #9f6b08;
         margin-bottom: 3px;
      }
   }

   &__blockquote-text {
      font-style: italic;
   }
}

.swiper-button-left {
   transform: translateX(-41px);
}

.swiper-button-right {
   transform: translateX(10px);
}

.footer {
   padding: 100px 0 80px;
   background-color: #363636;
   color: #fff;

   &__title {
      font-weight: 300;
      font-size: 32px;
      text-transform: uppercase;
      margin-bottom: 50px;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      gap: 0 20px;
   }

   &__info-item {
      margin-bottom: 40px;
   }

   dt,
   .footer__address-title {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px;
   }

   dd {
      margin-bottom: 10px;
   }

   &__social {
      display: flex;
      gap: 0 20px;
      align-items: center;
   }

   &__address {
      flex-basis: 462px;
   }

   &__address-text {
      font-size: 16px;
      margin-bottom: 20px;
   }

   &__bottom {
      margin-top: 35px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

#map {
   height: 250px;
}